<div class="list">
  <div class="list-section">
    <div class="list-section-header">Items</div>
    <div class="list-item">Item1</div>
    <div class="list-item">Item2</div>
    <div class="list-item">Item3</div>
    <div class="list-item">Item4</div>
    <div class="list-item">Item5</div>
    <div class="list-item">Item6</div>
  </div>
  <div class="list-section">
    <div class="list-section-header">Blocks</div>
    <div class="list-item">Block1</div>
    <div class="list-item">Block2</div>
    <div class="list-item">Block3</div>
    <div class="list-item">Block4</div>
    <div class="list-item">Block5</div>
    <div class="list-item">Block6</div>
  </div>
</div>
